.tweets-container .username {
  float: right;
  line-height: 700%;
  padding-right: 10px;
}

.tweets-container .display-name {
  float: left;
  line-height: 500%;
}

.tweets-container header img {
  height: 80px;
  width: 80px;
  float: left;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 1em;
  margin-left: 1em;
}

article {
  margin: 1em 2em;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
}

article.single-tweet {
  opacity: 0.5;
  background-color: white;
}

article.single-tweet:hover {
  opacity: 1;
}

article.single-tweet span.actions {
  opacity: 0;
}

article.single-tweet:hover span.actions{
  opacity: 1;
}

.tweets-container header {
  height: 110px;
  background-color: #e1fff5;
  border-radius: 10px;
}

.tweets-container p {
  word-wrap: break-word;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 2em;
}

.tweets-container footer {
  height: 50px;
}

.tweets-container footer p {
  float: left;
  width: 50%;
  margin-top: 12px;
}

.tweets-container footer span.actions {
  height: 50px;
  float: right;
  margin-top: 12px;
}

.tweets-container footer span.actions i {
  height: 30px;
  width: 30px;
}

input {
  border-radius: 5px;
}

a.like-button:link {
  color: black;
  cursor: pointer;
}

a.like-button:active {
  color: red;
  cursor: pointer;
}

.tweets-container footer span.like-count {
  margin-right: 5px;
}