$main-color: #e1fff5;
$dark-mode-color: #4b5f6d;
$radius-size: 10px;

section.tweets-container {
  article.single-tweet {
    margin: 1em 2em;
    border: 2px solid $main-color;
    border-radius: $radius-size;
    opacity: 0.5;
    background-color: $main-color;

    header {
      height: 110px;
      color: $main-color;
      background-color: $dark-mode-color;
      border-radius: $radius-size;

      img {
        height: 80px;
        width: 80px;
        float: left;
        border-radius: $radius-size;
        margin-right: 10px;
        margin-top: 1em;
        margin-left: 1em;
      }

      .display-name {
        float: left;
        line-height: 500%;
      }

      .username {
        float: right;
        line-height: 700%;
        padding-right: 10px;
      }
    }

    p {
      word-wrap: break-word;
      padding-left: 1em;
      padding-right: 1em;
      margin-bottom: 2em;
    }

    footer {
      height: 50px;

      p {
        float: left;
        margin-top: 10px;
      }

      span.actions {
        height: 30px;
        float: right;
        margin-top: 12px;
        opacity: 0;
        display: inline-flex;

        i.fa-flag {
          width: 30px;
        }

        i.fa-retweet {
          width: 23px;
        }

        form {
          height: 30px;
          width: 30px;

          button.like-button {
            cursor: pointer;
            color: $dark-mode-color;
            border: none;
            background-color: $main-color;
            height: 0px;
            width: 0px;
          }
        }

        p.like-count {
          margin-right: 5px;
          height: 30px;
          width: 30px;
          padding: 0px;
          margin: 0px;
        }
      }
    }
  }
}

section.tweets-container article.single-tweet:hover {
  opacity: 1;
}

section.tweets-container article.single-tweet:hover span.actions{
  opacity: 1;
}

section.tweets-container article.single-tweet footer span.actions form button.like-button:active {
  color: red;
}
