.counter {
  float: right;
}

.exceedLimit {
  color: red;
}

section.new-tweet {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
  margin-top: 20px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  background-color: #eee;
}

div {
  padding: 2em;
}

textarea {
  width: 100%;
  margin-top: 10px;
  padding-top: 5px;
  padding-left: 5px;
}

hr {
  margin-top: -20px;
}